h1, h2, h3 {
   font-family: 'Uncial Antiqua';
}

h1 {
   text-align: center;
}

p, input, button {
   font-family: 'Oldenburg';
   font-size: 16px;
   text-rendering: optimizeLegibility;
}

label {
   display: block;
}

label.radio, input[type=radio] {
   cursor: pointer;
   display: inline;
}

input {
   border: 1px solid #999;
   outline: none;
   padding: 8px;
}

button {
   cursor: pointer;
}