* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: inherit;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

/* Chrome ------------------------------------------------------------------- */

:root {
  --borders: 5px;
  --lang-elven: #1b3667;
  --lang-elven-border: #366cce;
  --lang-elven-text: #6cd8ff;
  --lang-goblin: #3b4e25;
  --lang-goblin-border: #769c4a;
  --lang-goblin-text: #b1cd6f;
  --lang-quor: #6e2f2f;
  --lang-quor-border: #dc5e5e;
  --lang-quor-text: #ed8d8d;

  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 10px;
}

/* Typography --------------------------------------------------------------- */

@font-face {
  font-family: 'Zilla Slab';
  font-weight: 300;
  src: url('ZillaSlab-300.otf') format('opentype');
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: oblique;
  font-weight: 300;
  src: url('ZillaSlab-300i.otf') format('opentype');
}

@font-face {
  font-family: 'Zilla Slab';
  font-weight: 600;
  src: url('ZillaSlab-600.otf') format('opentype');
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: oblique;
  font-weight: 600;
  src: url('ZillaSlab-600i.otf') format('opentype');
}

h1 {
  font: 600 1.4rem / 1 'Zilla Slab';
  letter-spacing: 0.25rem;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

footer {
  color: #666;
  font: 300 1.2rem / 1.5 'Zilla Slab';
  margin: 0 auto 20px;
  text-align: center;
  width: 300px;
}

/* Inputs ------------------------------------------------------------------- */

input[type='text'] {
  background-color: #111;
  border: 1px solid #333;
  border-radius: var(--borders);
  color: #fff;
  font: 300 2.0rem / 1 'Zilla Slab';
  transition: all 350ms;
}

  input[type='text']:focus {
    background-color: #222;
    border-color: #444;
    transition-duration: 0ms;
  }

input[type='radio'] + span {
  -webkit-user-select: none;
  align-items: center;
  background-color: var(--lang-background);
  border: 1px solid var(--lang-border);
  border-radius: var(--borders);
  color: var(--lang-color);
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  font: 600 1.4rem / 1 'Zilla Slab';
  justify-content: center;
  letter-spacing: 0.25rem;
  opacity: 0.35;
  text-transform: uppercase;
  transition: all 350ms;
}

  input[type='radio']:checked + span {
    box-shadow: 0 0 10px 0 var(--lang-background);
    transition-duration: 0ms;
  }

button[type='submit'] {
  -webkit-user-select: none;
  align-self: center;
  background-color: #342c43;
  border: 1px solid #685886;
  border-radius: 100px;
  cursor: pointer;
  font: 600 1.4rem / 1 'Zilla Slab';
  letter-spacing: 0.25rem;
  width: 200px;
}

  button[type='submit']:active {
    opacity: 0.65;
  }

/* Forms -------------------------------------------------------------------- */

form {
  margin-bottom: 20px;
}

  form input[type='radio'] {
    display: none;
  }

    form input[type='radio']:checked + span {
      opacity: 1.0;
    }

  form p {
    display: flex;
    flex-direction: column;
  }

    form p.radio {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 1fr);
    }

      form p > span {
        flex-basis: 100%;
      }

    form p + p {
      margin-top: 20px;
    }

  form label[for],
  form p > span {
    display: none;
    font: 0 / 0 a;
  }

  form label:not([for]) {
    align-items: stretch;
    display: flex;
    flex-basis: 33.333%;
    height: 44px;
    justify-content: center;
  }

  form button[type='submit'],
  form input[type='text'] {
    height: 44px;
    text-align: center;
  }

  form button[type='submit'] {
    text-transform: uppercase;
  }

/* Languages ---------------------------------------------------------------- */

[value='elven'] + span {
  --lang-border: var(--lang-elven-border);
  --lang-background: var(--lang-elven);
  --lang-color: var(--lang-elven-text);
}
[value='goblin'] + span {
  --lang-border: var(--lang-goblin-border);
  --lang-background: var(--lang-goblin);
  --lang-color: var(--lang-goblin-text);
}
[value='quor'] + span {
  --lang-border: var(--lang-quor-border);
  --lang-background: var(--lang-quor);
  --lang-color: var(--lang-quor-text);
}

/* Miscellaneous ------------------------------------------------------------ */

#result {
  font: 600 oblique 2.0rem / 1 'Zilla Slab';
  margin: 40px 0;
  text-align: center;
}
